.fakta {
 
    background-color: rgb(255, 115, 0);
    font-size: larger;
    font-family: "Poppins";
    margin: 0;
}




nav{
    float: left; 
    width: 100%;
    background-color: #24262e;  
    position:sticky; 
    z-index: 1000;
  }
  
  nav ul {
    margin:0;
    padding:0;
  }
  
  nav li {
    float: left;
    list-style-type: none;
    border-right: 0px solid #F1502F;
  }
  
  nav a {
    display: block;
    text-decoration:none;
    color: white;
    padding: 15px;
    background-color: #3c516b;
  }
  
  nav a:hover{
    background-color: #acb5c0;
    color: #000000;
  }

iframe {
    width: 100%;
    height: 95%;
    border: none;
    position: fixed;
    top: 52px;
    left: 0;
    bottom: 0;
    right: 0;
}
