body {
    background-color: rgb(255, 115, 0);
    font-size: larger;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

nav{
    float: left; /*Gjør at child-elementer som flyter (float), holder seg inne i boksen */
    width: 100%;
    background-color: #24262e;  
    position:sticky; /*Gjør at menylinja fester seg til et fast punkt i vinduet når man skroller. Hvor den fester seg, angir man med top, left, right og/eller bottom, som på neste linje.*/
    top: 0px;
    z-index: 1000;
  }
  
  nav ul {
    margin:0;
    padding:0;
  }
  
  nav li {
    float: left;
    list-style-type: none;
    border-right: 0px solid #000000;
  }
  
  nav a {
    display: block;
    text-decoration:none;
    color: white;
    padding: 15px;
    background-color: #3c516b;
  }
  
  nav a:hover{
    background-color: #acb5c0;
    color: #000000;
  }

iframe {
    width: 100%;
    height: 95%;
    border: none;
    position: fixed;
    top: 52px;
    left: 0;
    bottom: 0;
    right: 0;
}